h1 {
	text-align: center;
}
span {
	border: solid 2px #009999;
	padding: 5px;
	margin: 10px;	
}
button {
  padding: 12px;
  margin: 10px;
  color: #ffffff;
  background-color: #009999;
  border-style: none;  
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #00b3b3;
}